* {
    --menu-w: 1000px;
    --link-w: calc(var(--menu-w) / 3);
    margin: 0;
    color: lightgray;
    /* text-decoration: underline double navy; */

    text-decoration: none;
    font-family: "Segoe Print", "Bradley Hand", Chilanka, TSCu_Comic, casual,
      cursive;
    font-family: "Inclusive Sans", sans-serif;
  }

  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    /* border: 1px solid; */
    width: var(--menu-w);
    aspect-ratio: 8/5;
    gap: 10px;
    /* height: 500px; */
  }

  .gradient-bg {
    /* --bg-color: #101010e0;   */
    --bg-color: hwb(248 24% 55%);
    /* background: radial-gradient(lightblue 30%, darkcyan); */
    /* background-image: conic-gradient(indigo 60deg, black, black, indigo 300deg); */
    background-color: var(--bg-color);
    background-image: linear-gradient(
      hwb(0 0% 100%),
      hwb(275 0% 49%),
      hwb(282 0% 17%),
      hwb(271 17% 11%)
    );
    background-blend-mode: multiply;
    /* animation: rotate 5s linear infinite; */
  }

  /* @keyframes gradient-an {
    0% {
      background-position: 100% 100%;
    }
    25% {
      background-position: 100% 0%;
    }
    50% {
      background-position: 0% 0%;
    }
    75% {
      background-position: 0% 100%;
    }
    100% {
      background-position: 100% 100%;
    }
  } */

  .link,
  .tiny-link {
    position: relative;
    height: auto;
    width: auto;
    /* aspect-ratio: 1; */
    border: 5px double #0000001a;
    background-color: #e6e6e60d; /* <<< COOL EFFECT */

    /* margin: 5px; */
    box-shadow: 0 5px 5px 1px #0000004d;
    transition: 0.2s ease-in-out;
    /* clip-path: polygon(100% 0%, 0% 100%, 100% 100%); */
    transform-style: preserve-3d;
    /* transform: rotateX(10deg) rotateY(10deg); */
    &:hover {
      transform: rotateX(20deg) rotateY(25deg);
    }
    &::after {
      content: "";
      inset: -0.5rem;
      background: linear-gradient(
        hwb(0 0% 100%),
        hwb(275 0% 49%),
        hwb(282 0% 17%),
        hwb(271 17% 11%)
      );
      opacity: 0.3;
      position: absolute;
      transform: translateZ(-50px);
    }
  }

.lense-flare {
    background: linear-gradient(-45deg, #ffffff10 45%, white, #ffffff10 55%);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    color: transparent;
    animation: lens-flare 5s cubic-bezier(0.99, 0.36, 0, 1) infinite backwards;
    
  }

  @keyframes lens-flare {
    0% {
      background-position: 100% 100%;
    }
    100% {
      background-position: -10% -10%;
    }
    /* 100% {
      background-position: 75% 75%;
    } */
  }

  .link {
    grid-column: span 2;
    grid-row: span 2;
    font-size: 1em;
  }

  .tiny-link {
    font-size: 0.7em;
  }

  .link:hover,
  .tiny-link:hover {
    border: 3px double #00000033;
    background-color: #e6e6e633; /* <<< COOL EFFECT */
    box-shadow: 0 10px 8px 3px #0000004d;
    scale: 1.01;
  }

  a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.3s ease-in-out;
    /* text-shadow: 1px 1px 3px lime, 1px -1px 3px limegreen, -1px 1px 3px green, -1px -1px 3px greenyellow; */
    /* text-shadow: 1px 1px rgba(149, 255, 149, 0.5), 1px -1px  rgba(149, 255, 149, 0.5), -1px 1px rgba(149, 255, 149, 0.5), -1px -1px rgba(149, 255, 149, 0.5); */
    /* text-align: center; */
  }
  a:hover {
    /* text-shadow: 3px 1px 0 rgba(61, 176, 238, 0.8), -3px -1px 0 rgba(255, 100, 80, 0.8); */
    color: lightgray;
    /* text-shadow: 0 0 10px black; */
  }

  img {
    opacity: 0.7;
  }

  .tiny-site2 {
    grid-row-start: 2;
  }

  .tiny-site9 {
    grid-row-start: 4;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }